.header{
    background-color: lightgray;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:flex-start;
}

.botaoVoltar{
    background-color:  #000000;
    border-radius: 50px;
    padding: 1%;
    border: none;
    display: flex;
    /* justify-content: flex-end; */
    font-size: medium;
}

.botaoVoltar:hover{
    background-color:  #340900;
}

.link{
    color: white;
    text-decoration: none;
}

.cardAgendamentosFeitos{
    background-color: #8a0000;
    padding: 2%;
    color: rgb(255, 255, 255);
    border-radius: 10px;
}

.disposicaoCardsAgenda{
    margin: auto;
    display: flex;
    justify-content: center;
}

.editar{
    width: 100%;
    border: solid #8a0000;
    background-color: #8a0000;
    margin-bottom: 4%;
}

.titulo{
    margin-left: 30%;
}

.editar2{
    color: white;
    text-decoration:none ;
}