.container {
  height: 100%;
}

.header {
  background-color: lightgray;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.botaoVoltar {
  background-color: #000000;
  border-radius: 50px;
  padding: 1.2%;
  border: none;
  display: flex;
  margin-left: 2%;
  font-size: medium;
}

.botaoVoltar:hover {
  background-color: #340900;
}

.link {
  color: white;
  text-decoration: none;
}

.editar {
  width: 100%;
  border: solid #8a0000;
  background-color: #8a0000;
  margin-bottom: 4%;
}

.titulo {
  margin-left: 30%;
}

.editar2 {
  color: white;
  text-decoration: none;
}

.disposicaoVisualizacao {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: -4rem;
    margin-bottom: 5rem;
}

.disposicaoVisualizacao1 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 2rem;
  margin-bottom: 3rem;
}

.selectVisualizacao {
  width: 30%;
  font-size: 1rem;
}

.h3Visualizacao {
  display: flex;
      justify-content: center;
      margin: 1%;
      padding: 10px;
      width: 100%;
      color: #c52c0e;
      font-size: xx-large;
}

.linha1{
  border: solid 2px #c52c0e;
}

.resultadosdasala{
  display: flex;
  justify-content: center;
  margin: 3%;
  border: solid 2px #c52c0e;
  border-radius:2rem;
    padding: 10px;
    background-color: #c52c0e;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}

.linha{
  background-color: #8a0000;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-bottom: 3%;
  border-radius: 10px;
  padding: 10px;
  color: white;
  align-items: center;
  justify-items: center;
}

.centro{
  display: flex;
  align-items: center;
  justify-content: center;
}

.centro2{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: x-large;
}

.data{
  font-size:120%;
}
.procurar{
  background-color: black;
    color: white;
    border-radius: 0.5em;
    padding: 5px;
    margin-top: 1rem;
}

.select{
  font-size: 1rem;
    width: 100%;
    padding: 0.8%;
    background-color: rgb(222, 222, 222);
    border: none;
    border-radius: 5px;
}
.divtal{
  font-family: system-ui;
    display: flex;
    flex-direction: column;
    align-items: center;
}