.footerhome {
  display: flex;
  justify-content: space-around;
  background-color: #c52c0e;
}

.thome {
  margin-left: 2%;
  margin-top: 1%;
  color: white;
  padding: 2%;
  font-size: small;
}

.thome2 {
  margin-left: 66%;
  margin-top: -13%;
  color: white;
  padding: 2%;
  font-size: small;
}

.thome3 {
  margin-left: 35%;
  margin-top: 1%;
  color: white;
  padding: 2%;
  font-size: xx-small;
}

.thm1 {
  margin-left: -2%;
  margin-top: -1%;
  color: white;
  padding: 2%;
  font-size: large;
}

.thm {
  margin-left: 48%;
  margin-top: 1%;
  color: white;
  padding: 2%;
  font-size: large;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #242222;
  flex-direction: row;
  padding: 30px; /* Adicionado unidade 'px' */
  background-image: url("/src/public/sesifrente.jpeg");
}


