/* FOOTER */
.divmaior {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #c52c0e;
  margin-top: 5%;
  padding: 1%;
}

.escolacurso {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: white;
  font-size: 0.6em;;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.enderecogrupo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 0.5em;
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.copyright {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 5%;
  color: white;
  font-size: 0.5em;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: italic;
}

.grupo {
  margin-left: 56%;
}

/* HEADER: */
.headerconteiner {
  background-image: url("../public/sesifrente.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 137px;
  margin-top: -2%;
}

.linha {
  border: 6px solid #c52c0e;
  background-color: #c52c0e;
  padding: 5px;
  margin-bottom: 0%;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.logo {
  margin-top: 0%;
  margin-left: 1%;
}

.divpai {
  flex-direction: row;
  display: flex;
}

.titulo {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: xx-large;
}

.tituloPrincipal,
.bemVindos {
  color: white;
  font-weight: bold;
  text-shadow: 1px 1px 3px black;
}

.bemVindos {
  font-size: 1em
}

.visuprofLink {
  color: #f1f1f1;
  text-decoration: none;
  font-size: 1.1em;

}

.visuprofLink1 {
  color: #f1f1f1;
  text-decoration: none;
  font-size: 1.1em;

}

.botaoprof {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 1%;
  width: 50%;
  justify-items: flex-end;
  margin-left: 50%;

}

.visubotaoprof {
  background-color: #C52C0E;
  border: solid 2px;
  color: #f1f1f1;
  border-radius: 5px;
  padding: 4px;
  width: 26%;
}

.visubotaoprof1 {
  background-color: #C52C0E;
  border: solid 2px;
  color: #f1f1f1;
  border-radius: 5px;
  padding: 4px;
  /* margin-right: -20%; */
  width: 25%;
}

/* CADASTRO PROFESSORES */
/* .dropdowncontent {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  margin-left: 960%;
  border-radius: 10px;
} */

/* .dropbtn {
  background-color: #C52C0E;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: white solid 2px;
  margin-left: 960%;
  margin-top: 5%;
  border-radius: 10px;
  width: 145%;
} */

.titulocadastro {
  display: flex;
  justify-content: center;
  background-color: lightgray;
  padding: 1%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: small;
}

.disposicaocadastro {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 700;
}

.texto {
  color: white;
  text-decoration: none;
}

.visuprofLink {
  color: #f1f1f1;
  text-decoration: none;
}

.visuprofLink1 {
  color: #f1f1f1;
  text-decoration: none;
}

.Botaoprof {
  margin-left: 79%;
  margin-top: 1%;
}

.Visubotaoprof {
  display: flex;
  background-color: #C52C0E;
  font-size: medium;
  justify-content: space-around;
  border: solid 2px;
  color: #f1f1f1;
  border-radius: 5px;
  padding: 4px;
}

/* DELETAR PREOFESSOR */
.disposicaoFormcadast {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 23%;
  padding: 5%;
  /* align-content: space-around; */
  flex-wrap: wrap;
}

.disposicaoFormcadast label {
  font-weight: bold;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  display: flex;
  justify-content: center;
  margin-right: 35%;
}

.disposicaoFormcadast select,
.disposicaoFormcadast input {
  font-size: 1rem;
  width: 65%;
  padding: 0.8%;
  background-color: rgb(222, 222, 222);
  border: none;
  border-radius: 5px;
}

.container {
  display: flex;
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center; /* Centraliza verticalmente */
}

.botaoFormcadast {
  background-color: #c52c0e; /* Cor de fundo do botão */
  color: azure; /* Cor do texto */
  padding: 1%; /* Espaçamento interno */
  border-radius: 20px; /* Bordas arredondadas */
  border: none; /* Remove borda padrão */
  font-size: medium; /* Tamanho da fonte */
  margin-right: 34%;
  margin-top: 4%;
 
}

.botaoFormcadast:hover {
  background-color: #691200;
  text-decoration: none;
}


.botaodeletar {
  background-color: #c52c0e; /* Cor de fundo do botão */
  color: azure; /* Cor do texto */
  padding: 1%; /* Espaçamento interno */
  border-radius: 20px; /* Bordas arredondadas */
  border: none; /* Remove borda padrão */
  font-size: medium; /* Tamanho da fonte */
  margin-top: 6%;
}

@media screen and (max-width: 720px) {
  .tituloPrincipal {
    font-size: 2rem;
  }

  .bemVindos {
    font-size: 1rem;
  }

  .headerconteiner {
    padding: 15%;
    margin-top: -4%;
  }

  .botaoprof {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;


  }

  .visubotaoprof1 {
    width: 30%;
  }

  .visubotaoprof {
    width: 30%;
  }

  .visuprofLink {
    font-size: 0.7em;
  }

  .visuprofLink1 {
    font-size: 0.7em;
  }

  .divmaior {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #c52c0e;
    margin-top: 5%;
    padding: 1%;
  }

  .escolacurso {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
    font-size: 0.4em;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  }

  .enderecogrupo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 0.4em;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  }

  .copyright {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
    color: white;
    font-size: 0.4em;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-style: italic;
  }

  .botaoFormcadast {
    background-color: #c52c0e; /* Cor de fundo do botão */
    color: azure; /* Cor do texto */
    padding: 1%; /* Espaçamento interno */
    border-radius: 20px; /* Bordas arredondadas */
    border: none; /* Remove borda padrão */
    font-size: medium; /* Tamanho da fonte */
    margin-right: 34%;
    margin-top: 0%;
   
  }
  
  .botaodeletar {
    background-color: #c52c0e; /* Cor de fundo do botão */
    color: azure; /* Cor do texto */
    padding: 1%; /* Espaçamento interno */
    border-radius: 20px; /* Bordas arredondadas */
    border: none; /* Remove borda padrão */
    font-size: medium; /* Tamanho da fonte */
    margin-right: 34%;
    margin-top: 0%;
   
  }
}

